<template>
  <div class="overflow-auto block relative">
    <div
      class="overflow-auto bg-green"
      style="width: 0px; height: 0px">
      <div
        v-for="(page, i) in pages"
        :key="'page' + i"
        :id="'content' + i"
        class="p-16 pt-14 bg-white"
        style="width: calc(210.0015555555555px * 5); height: calc(297.0000833333333px * 5)">
        <div class="flex w-full mb-4">
          <div
            class="w-2/5"
            style="height: calc(32px * 5)">
            <img
              src="/images/general/isa-logo.jpg"
              crossorigin="anonymous"
              class="w-full h-full"
              style="object-fit: cover">
          </div>
          <div
            class="w-3/5 border border-black">
            <div
              v-for="(info, j) in Object.keys(labels)"
              :key="'info' + j"
              :class="j !== 0 && 'border-t border-black'"
              class="w-full h-8 text-base flex">
              <div class="flex-none w-32 h-full flex items-center px-2 border-r border-black">
                {{ labels[info] }}
              </div>
              <div class="w-full flex items-center px-2 font-light">
                <div
                  :class="(j === 0 && (maxPages > 1 || !maxPages)) ? 'w-4/5 border-r border-black' : 'w-full'">
                  {{ content.metadata[info] || 'Todos' }}
                </div>
                <div
                  v-if="(j === 0 && (maxPages > 1 || !maxPages))"
                  class="w-1/5 pl-2 pr-0 text-sm font-normal text-center">
                  Página <div>{{ i + 1 }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-wrap justify-start">
          <div
            v-for="(item, k) in page"
            :key="k + '-g'"
            :class="(k !== 0) && 'mt-4'"
            class="relative border-black border flex"
            style="width: calc(100%); height: 345px">
            <div
              class="absolute w-12 h-12 text-2xl font-bold top-0 left-0 flex justify-center items-center"
              style="background: #003087; z-index: 10; color: white;"
            >
              {{ k + 1 }}
            </div>
            <div class="w-1/2 border border-black">
              <!-- :style="`background-image: url(${$apimage(item.obsPhoto)}); background-image-crossorigin: anonymous`" -->
              <div
                class="w-full bg-gray-100 relative super-center"
                style="height: calc(100% - 100px)">
                <img
                  :src="$apimage(item.obsPhoto)"
                  crossorigin="anonymous"
                  class="absolute"
                  style="max-width: 100%; max-height: 100%; object-fit: cover">
              </div>
              <div class="w-full bg-white border-t border-black p-2 font-light" style="height: 100px; font-size: 13px; letter-spacing: .03em;">
                <div class="w-full h-full overflow-hidden text-left">
                  <div class="font-light">
                    <span class="font-normal">Fecha: </span>{{ item.reportDate }}
                  </div>
                  <div class="font-light">
                    <span class="font-normal">Proceso: </span>{{ item.phase.name }}
                  </div>
                  <div class="font-light">
                    <span class="font-normal">Tarea: </span>{{ item.group.name }}
                  </div>
                  <div class="font-light">
                    <span class="font-normal">Descripción: </span>{{ item.obsDescription }}
                  </div>
                </div>
              </div>
            </div>
            <div class="w-1/2 border border-black">
            <!-- :style="`background-image: url(${$apimage(item.obsDonePhoto)}); background-image-crossorigin: anonymous`" -->
              <div
                class="w-full bg-gray-100 relative super-center"
                style="height: calc(100% - 100px)">
                <img
                  v-if="item.obsDonePhoto"
                  :src="$apimage(item.obsDonePhoto)"
                  crossorigin="anonymous"
                  class="absolute"
                  style="max-width: 100%; max-height: 100%; object-fit: cover">
              </div>
              <div class="w-full bg-white border-t border-black p-2 font-light" style="height: 100px; font-size: 13px; letter-spacing: .03em;">
                <div class="w-full h-full overflow-hidden text-left">
                  <div class="font-light">
                    <span class="font-normal">Observado por: </span>{{ item.observedBy }}
                  </div>
                  <div class="font-light">
                    <span class="font-normal">Fecha: </span>{{ item.closedDate || 'No se ingresó' }}
                  </div>
                  <div class="font-light">
                    <span class="font-normal">Estado: </span> <span :class="item.closedDate ? 'text-main-blue' : 'text-red'">{{ item.closedDate ? 'Cerrado' : 'Abierto' }}</span>
                  </div>
                  <div class="font-light">
                    <span class="font-normal">Descripción: </span>{{ item.obsDoneDescription || 'Sin descripción' }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="flex justify-center">
      <div
        class="px-3 py-1"
        :class="processing ? 'cursor-not-allowed btn-blue6' : 'cursor-pointer btn-blue3'"
        @click="generatePDF()">
        {{ processing ? 'Procesando' : 'Generar PDF'}}
      </div>
    </div>
  </div>
</template>
<script>
var jsPDF = null
var html2canvas = null
if (process.browser) {
  jsPDF = require('jspdf')
  html2canvas = require('html2canvas')
}
export default {
  props: {
    content: {
      type: Object,
      default: () => {}
    },
    //to infinite pages change to null
    maxPages: {
      type: Number,
      required: false,
      default: 1
    }
  },
  data() {
    return {
      processing: false,
      labels: {
        project: 'Proyecto',
        phase: 'Etapa',
        group: 'Tarea',
        tower: 'Torre',
        reportDate: 'Fecha',
        responsible: 'Responsable'
      },
      pages: []
    }
  },
  mounted() {
    var cont = -1
    for(var i=0; i < this.content.images.length; i++) {
      if(i%3 === 0) {
        cont++
        if(this.maxPages && cont > this.maxPages - 1) {
          return
        }
        this.pages.push([])
      }
      this.pages[cont].push(this.content.images[i])
    }
  },
  methods: {
    async generatePDF() {
      if(this.processing) return
      this.processing = true
      var doc = new jsPDF('p', 'mm', 'a4')
      for (let i = 0; i < this.pages.length; i++){
        await html2canvas(document.getElementById('content' + i),{
          allowTaint: true,
          logging: true,
          taintTest: false,
          scale: 1,
          dpi: 300,
          useCORS: true
          }).then(canvas => {
          var img = canvas.toDataURL('image/png')
          var width = doc.internal.pageSize.getWidth()
          var height = doc.internal.pageSize.getHeight()
          doc.addImage(img, 'JPEG', 0, 0, width, height)
          if(i < this.pages.length - 1) {
            doc.addPage()
          } else {
            doc.save('Reporte-de-Calidad.pdf')
          }
        })
      }
      this.processing = false
      this.$emit('update:exportDialog', false)
    }
  }
}
</script>
