<template>
  <div class="w-full h-screen bg-white sm:pt-24 pt-20 relative flex sm:flex-row flex-col-reverse justify-center items-center">
    <div class="bg-white sm:w-2/5 w-full sm:h-full h-1/2 super-center" style="z-index: 800">
      <div class="bg-main-blue w-full h-full super-center sm:pr-10 pr-0 radius-slider relative">
        <div class="absolute top-0 right-0 my-auto flex sm:hidden justify-center flex-col z-10 mt-5" style="width: 30px;">
          <div
            v-for="(item, i) in content.sliders"
            :key="'pip_' + i"
            :class="`pip-mobile${realSlide === i ? '-active' : ''} cursor-pointer ${i !== content.sliders.length - 1 ? 'mb-3' : ''}`"
            style="transition: background 0.25s;"
            @click="goSlide(i)"
          />
        </div>
        <div class="flex justify-center sm:items-start items-center flex-col mb-2">
          <div class="relative sm:mb-8 mb-5">
            <div
              :class="offAll ? 'opacity-0' : 'opacity-1'"
              class="absolute top-0 left-0 xl:text-4xl sm:text-3xl text-2xl text-white uppercase font-bold sm:text-left text-center"
              style="transition: opacity 0.5s;"
            >
              {{ titleWithEffect }}
            </div>
            <div class="xl:text-4xl sm:text-3xl text-2xl text-white uppercase font-bold sm:text-left text-center opacity-0" style="max-width: 300px;">
              {{ titleTransparent }}
            </div>
          </div>
          <div :style="offAll ? 'max-width: 0px;' : 'max-width: 400px;'" style="transition: max-width 0.5s;" class="overflow-x-hidden">
            <div class="sm:text-4xl text-2xl px-5 py-3 bg-main-rose uppercase text-white sm:mb-8 mb-6 font-bold truncate">
              {{ content.sliders[realSlide].subtitle }}
            </div>
          </div>
          <button
            @click="open(content.sliders[realSlide].btnUrl)"
            :class="offAll ? 'opacity-0' : 'opacity-1'"
            class="bg-main-green text-white sm:py-6 py-4 sm:px-8 px-6 font-bold rounded-lg sm:text-xl text-base"
            style="transition: opacity 0.5s;"
          >
            {{ content.sliders[realSlide].btnText }}
          </button>
        </div>
      </div>
    </div>
    <client-only>
      <swiper
        ref="portraitSlider"
        :options="swiperOption"
        class="sm:w-3/5 w-full sm:h-full h-1/2 relative">
        <swiper-slide
          v-for="(item, i) in content.sliders"
          :key="i + '-slide'"
          class="w-full h-full super-center">
          <!-- <div class="sm:w-2/5 w-full sm:h-full h-1/2" /> -->
          <div
            :style="`background-image: url('${$getApiImage() + item.imageUrl || imageBlank}');`"
            class="w-full h-full bg-cover bg-center"
          />
        </swiper-slide>
      </swiper>
    </client-only>
    <div class="absolute right-0 my-auto sm:flex hidden justify-center flex-col z-10" style="width: 35px;">
      <div
        v-for="(item, i) in content.sliders"
        :key="'pip_' + i"
        :class="`pip${realSlide === i ? '-active' : ''} cursor-pointer ${i !== content.sliders.length - 1 ? 'mb-3' : ''}`"
        style="transition: background 0.25s;"
        @click="goSlide(i)"
      />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    content: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      count: 0,
      titleWithEffect: '',
      titleTransparent: '',
      offAll: false,
      autoplay: true,
      imageBlank: '/bg-portrait.png',
      realSlide: 0,
      // actualSlide: 0,
      swiperOption: {
        preventClicks: true,
        speed: 1000,
        // autoplay: {
        //   delay: 4000
        // },
        loop: true,
        slidesPerView: 1,
        // effect: 'fade',
        // fadeEffect: {
        //   crossFade: false
        // },
        on: {
          /** @IMPORTANT FOR NOT COLLAPSING IN CHANGE OF ROUTE */
          init: function() {
            const prev = this.destroy
            if (prev != null) {
              this.destroy = function() {
                prev.apply(this, [true, false])
              }
            }
          },
          slideChange: async () => {
            if (this.$refs.portraitSlider && this.$refs.portraitSlider.swiperInstance) {
              // console.log(this.$refs.portraitSlider.swiperInstance.realIndex)
              this.count++
              this.offAll = true
              await this.$wait(500)
              this.realSlide = this.$refs.portraitSlider.swiperInstance.realIndex
              this.titleWithEffect = ''
              this.titleTransparent = ''
              this.offAll = false
              this.titleTransparent = this.content.sliders[this.realSlide].title
              this.tippingEffect(this.content.sliders[this.realSlide].title)
            }
          }
          
        }
      }
    }
  },
  async mounted() {
    await this.$wait()
    this.titleTransparent = this.content.sliders[0].title
    await this.tippingEffect(this.content.sliders[0].title, true)
  },
  methods: {
    open(url) {
      window.open(url, '_blank')
    },
    goSlide(i) {
      // console.log(i)
      this.$refs.portraitSlider.swiperInstance.slideToLoop(i, 1000, false)
    },
    async tippingEffect(newTitle, initial = false) {
      if (this.isTipping) return
      this.isTipping = true
      let count = this.count
      let time = 1500
      let timeDivided = time / newTitle.length
      let temp = ''
      for (let i = 0; i < newTitle.length; i++) {
        if (((count !== this.count) || (initial && count !== 0) && this.isTipping)) {
          i = 0
          // console.log("tippingEffect -> count !== this.count", count + '!==' + this.count)
          this.isTipping = false
          return
        }
        temp += newTitle[i]
        this.titleWithEffect = temp
        // console.log(this.titleWithEffect)
        await this.$wait(timeDivided)
      }
      this.count++
      this.isTipping = false
    }
  }
}
</script>

<style lang="postcss" scoped>
.radius-slider {
  border-radius: 0 0 0 240px;
}
@media (max-width: 640px) {
  .radius-slider {
    border-radius: 0 0 0 120px;
  }
}
.pip {
  @apply bg-transparent border-2 border-main-blue;
  width: 15px;
  height: 23px;
}
.pip-active {
  @apply bg-main-blue border-2 border-main-blue;
  width: 15px;
  height: 23px;
}
.pip-mobile {
  @apply bg-transparent border-2 border-white;
  width: 14px;
  height: 18px;
}
.pip-mobile-active {
  @apply bg-white border-2 border-white;
  width: 14px;
  height: 18px;
}
</style>