<template>
  <div class="w-full h-screen bg-white">
    <client-only>
      <swiper
        :options="swiperOption"
        class="w-full h-full relative">
        <swiper-slide
          v-for="(image, i) in images"
          :key="i + '-slide'"
          class="w-full h-full flex justify-center items-center">
          <img
            :style="`background-image: url(${image});`"
            alt=""
            class="w-full h-full bg-cover bg-center"
          >
        </swiper-slide>
      </swiper>
    </client-only>
  </div>
</template>

<script>
export default {
  data() {
    return {
      images: [
        'https://wallup.net/wp-content/uploads/2016/03/12/282408-redhead-blue_eyes-anime-anime_girls-SteinsGate-Makise_Kurisu-white_shirt-tie.jpg',
        'https://wallup.net/wp-content/uploads/2016/05/14/42734-SteinsGate-Makise_Kurisu.jpg',
        'https://static.zerochan.net/Makise.Kurisu.full.1666691.jpg'
      ],
      swiperOption: {
        loop: true,
        preventClicks: true,
        speed: 1000,
        slidesPerView: 1,
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
          renderBullet(index, className) {
            return `<span class="${className} swiper-pagination-bullet-customblue" style="marging-top: 20px;"></span>`
          }
        },
        on: {
          /** @IMPORTANT FOR NOT COLLAPSING IN CHANGE OF ROUTE */
          init: function() {
            const prev = this.destroy
            if (prev != null) {
              this.destroy = function() {
                prev.apply(this, [true, false])
              }
            }
          }
        }
      }
    }
  }
}
</script>

<style>

</style>