<template>
  <div id="container-effect-main" class="w-full h-full overflow-hidden relative">
    <div
      v-for="(item, i) in images"
      :key="'item' + i"
      :id="'container-effect-circle' + i"
      :style="activatedItem === i ? 'opacity: 1' : 'opacity: 0'"
      class="super-center absolute overflow-hidden"
      style="width: 100%; height: 100%; transition: all 1s">
      <div
        :style="`width: ${circleSize * 1.5}px; height: ${circleSize * 1.5}px`"
        class="absolute rounded-full super-center overflow-hidden">
        <div
          :class="active && 'ec1'">
          <div
            :style="`width: ${wx}px; height: ${hx}px; background-image: url(${item.img});`"
            :class="active && 'e1'"
            class="bg-cover bg-center flex-none bg-black"
            style="background-blend-mode: luminosity;">
          </div>
        </div>
      </div>
      <div
        :style="`width: ${circleSize / 1.25 }px; height: ${circleSize / 1.25 }px`"
        class="absolute rounded-full super-center overflow-hidden">
        <div
          :class="active && 'ec2'">
          <div
            :style="`width: ${wx}px; height: ${hx}px; background-image: url(${item.img});`"
            :class="active && 'e2'"
            class="bg-cover bg-center flex-none bg-black"
            style="background-blend-mode: luminosity;">
            <div class="absolute inset-0" style="background: rgba(0, 0, 0, 0.35)"/>
          </div>
        </div>
      </div>
      <div
        :style="`width: ${circleSize / 2.25 }px; height: ${circleSize / 2.25 }px`"
        class="absolute rounded-full super-center overflow-hidden">
        <div
          :class="active && 'ec3'">
          <div
            :style="`width: ${wx}px; height: ${hx}px; background-image: url(${item.img});`"
            :class="active && 'e3'"
            class="bg-cover bg-center flex-none bg-black"
            style="background-blend-mode: luminosity;">
          </div>
        </div>
      </div>
    </div>
    <div
      class="w-10 h-10 bg-blue rounded-full m-2 absolute bottom-0 right-0 cursor-pointer super-center"
      style="z-index: 100"
      @click="activate()">
      <div class="el-icon-refresh-right text-2xl text-white"></div>
    </div>
  </div>
</template>

<script>
import PortraitEffect from '~/components/effect'
export default {
  layout: 'dashboard',
  components: {
    PortraitEffect
  },
  data() {
    return {
      hx: 0,
      wx: 0,
      active: false,
      activatedItem: 0,
      rotation: 360,
      scale: 1,
      times: 0,
      circleSize: 0,
      images: [
        {
          id: 0,
          img: 'https://www.pixel4k.com/wp-content/uploads/2018/09/gal-gadot-2019-5k_1536949332.jpg'
        },
        {
          id: 1,
          img: 'https://img4.goodfon.com/wallpaper/nbig/9/81/gal-gadot-aktrisa-portret-cherno-beloe.jpg'
        },
        {
          id: 2,
          img: 'https://images.hdqwalls.com/wallpapers/gal-gadot-elle-magazine-zp.jpg'
        }
      ],
      img: 'https://i.ytimg.com/vi/dXM6i5-sdVg/maxresdefault.jpg'
    }
  },
  async mounted() {
    this.activatedItem = 0
    this.sizeListener()
  },
  methods: {
    async sizeListener() {
      try {
        var mainContainer = document.getElementById('container-effect-main')
        this.hx = mainContainer.offsetHeight
        this.wx = mainContainer.offsetWidth
        this.circleSize = this.hx > this.wx ? this.hx :this.wx 
        window.addEventListener("resize", () => {
          try {
            var mainContainer = document.getElementById('container-effect-main')
            this.hx = mainContainer.offsetHeight
            this.wx = mainContainer.offsetWidth
            this.circleSize = this.hx > this.wx ? this.hx :this.wx 
            // console.log(this.circleSize)
          } catch (error) {
            this.hx = 0
            this.wx = 0
            this.circleSize = 0
          }
        })
      } catch (e) {
        // console.log('error')
      }
    },
    async activate() {
      if(this.active) return
      this.active = true
      this.activatedItem++
      if(this.activatedItem > this.images.length - 1) {
        this.activatedItem = 0
      }
      await this.$wait(1500)
      this.active = false
    }
  }
}
</script>

<style scoped>
.static {
  transform: scale(1) rotate(0deg);
}

.e1 {
  animation-name: spin;
  animation-duration: 1.00s;
  animation-delay: 0.36s;
  animation-iteration-count: forwards;
  animation-timing-function: linear;
}

.e2 {
  animation-name: spin;
  animation-duration: 1.00s;
  animation-delay: 0.18s;
  animation-iteration-count: forwards;
  animation-timing-function: linear;
}

.e3 {
  animation-name: spin;
  animation-duration: 1.00s;
  animation-delay: 0s;
  animation-iteration-count: forwards;
  animation-timing-function: linear;
}

.ec1 {
  transition: all 1.00s;
  animation-name: scaling1;
  animation-duration: 1.00s;
  animation-delay: 0.36s;
  animation-iteration-count: forwards;
  animation-timing-function: linear;
}

.ec2 {
  transition: all 1.00s;
  animation-name: scaling2;
  animation-duration: 1.00s;
  animation-delay: 0.18s;
  animation-iteration-count: forwards;
  animation-timing-function: linear;
}

.ec3 {
  transition: all 1.00s;
  animation-name: scaling3;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-iteration-count: forwards;
  animation-timing-function: linear;
}


@keyframes scaling1 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(7);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scaling2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(6);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scaling3 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}
</style>