@font-face {
  font-family: 'Montserrat';
  font-weight: 100;
  src: url(../static/fonts/Montserrat/Montserrat-Thin.ttf);
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 200;
  src: url(../static/fonts/Montserrat/Montserrat-ExtraLight.ttf);
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  src: url(../static/fonts/Montserrat/Montserrat-Light.ttf);
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: url(../static/fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: url(../static/fonts/Montserrat/Montserrat-Medium.ttf);
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  src: url(../static/fonts/Montserrat/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  src: url(../static/fonts/Montserrat/Montserrat-Bold.ttf);
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 800;
  src: url(../static/fonts/Montserrat/Montserrat-ExtraBold.ttf);
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 900;
  src: url(../static/fonts/Montserrat/Montserrat-Black.ttf);
}