.super-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.font-bold-important {
  font-weight: 700 !important;
}

.transitioner500 {
  transition: all 0.5s;
}
.transitioner250 {
  transition: all 0.25s;
}
.avatar {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  display: block;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
* {
  outline-color: transparent !important;
}
button:focus {
  outline: 0px transparent !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}