<template>
  <div class="h-screen bg-white">
    <transition name="fade">  
      <TheNavBar v-if="$route.path !== '/demo'" />
    </transition>
    <nuxt />
    <transition name="fade">
      <TheFooter v-if="$route.path !== '/demo' && $route.path !== '/code'" />
    </transition>
  </div>
</template>
<script>
import { mapState } from 'vuex'
import TheNavBar from '~/components/general/TheNavBar'
import TheFooter from '~/components/general/TheFooter'
export default {
  components: {
    TheNavBar,
    TheFooter
  },
  data() {
    return {
      wx: 0,
      hx: 0
    }
  },
  computed: {
    ...mapState({
      something: state => state.something,
    })
  },
  async mounted() {
    try {
      await this.$nextTick()
      // console.log("mounted -> something", this.something)
      window.removeEventListener('resize', this.sizeListener, false)
      this.sizeListener()
      window.addEventListener("resize", this.sizeListener, false)
    } catch (error) {
      // console.log(error)
      this.wx = 0
      this.hx = 0
    }
  },
  methods: {
    sizeListener() {
      this.wx = window.innerWidth
      // console.log("sizeListener -> window.innerWidth", window.innerWidth)
      this.hx = window.innerHeight
      // console.log("sizeListener -> window.innerHeight", window.innerHeight)
    }
  }
}
</script>

<style>
.page-enter-active,
.page-leave-active {
  transition: all 0.3s;
}
.page-enter,
.page-leave-active {
  opacity: 0.2;
}
html {
  line-height: 1.15;
  font-family: 'Montserrat';
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar-track {
  background: rgba(0, 48, 135, 0.2);
  border-radius: 0px;
}
::-webkit-scrollbar-thumb {
  background: #415595aa;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #415595;
}
</style>
