<template>
  <div class="h-screen w-full">
    <nuxt />
  </div>
</template>

<script>
export default {

}
</script>

<style>
.page-enter-active,
.page-leave-active {
  transition: all 0.3s;
}
.page-enter,
.page-leave-active {
  opacity: 0.2;
}
html {
  line-height: 1.15;
  font-family: 'Montserrat';
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar-track {
  background: rgba(0, 48, 135, 0.2);
  border-radius: 0px;
}
::-webkit-scrollbar-thumb {
  background: #415595aa;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #415595;
}
</style>