<template>
  <div class="h-full" style="background-color: rgba(241, 244, 251, 1);">
    <div class="flex-1 flex flex-col items-center justify-center h-full">
      <!-- <p class="uppercase font-medium text-3xl sm:text-4xl lg:text-5xl text-main-blue mb-2">
        Error 404
      </p> -->
      <p class="uppercase font-medium text-base sm:text-lg lg:text-xl text-gray-600 mb-3">
        Página no encontrada
      </p>
      <el-button class="btn-blue h-10 uppercase" @click="$router.push('/dashboard')">
        Volver a la página principal
      </el-button>
    </div>
  </div>
</template>

<script>
export default {
  components: {
  },
  data() {
    return {
    }
  },
  async mounted() {
  },
}
</script>

<style lang="css" scoped>
</style>
