<template>
  <div class="w-full bg-white" id="main-page">
    <div v-if="isLoaded" class="w-full">
    </div>
    <div v-else class="h-screen bg-white w-full super-center">
      <Loader />
    </div>
  </div>
</template>

<script>
import Loader from '~/components/general/Loader'
export default {
  components: {
    Loader
  },
  data() {
    return {
      isLoaded: false
    }
  },
  async mounted() {
    // const resp = await this.$axios.get('/site/page')
    this.isLoaded = true
  },
  methods: {
  }
}
</script>

<style scoped>
</style>
