<template>
  <div class="w-full super-center flex-col">
    <form class="w-full super-center flex-wrap sm:mb-6 mb-2" @submit.prevent="save()">
      <div class="sm:w-1/2 w-full">
        <el-input
          v-model="form.name"
          class="sm:mb-6 mb-4 px-3 customInput"
          style=""
          required
          placeholder="Nombre y Apellido:"
        />
        <el-input
          v-model="form.email"
          class="sm:mb-6 mb-4 px-3 customInput"
          style=""
          autocomplete="email"
          placeholder="Correo:"
          required
          type="email"
        />
        <el-input
          v-model="form.phone"
          class="sm:mb-6 mb-4 px-3 customInput"
          style=""
          required
          type="number"
          placeholder="Celular:"
        />
      </div>
      <div class="sm:w-1/2 w-full">
        <el-select
          v-model="form.interests"
          class="sm:mb-6 mb-4 px-3 customInput w-full"
          style=""
          placeholder="Te interesa:"
          required
        >
          <el-option
            v-for="(service, sv) in realServices"
            :key="'sv_' + sv"
            :value="service.title">
            {{ service.title }}
          </el-option>
        </el-select>
        <el-input
          v-model="form.message"
          placeholder="Mensaje:"
          type="textarea"
          required
          class="sm:mb-6 mb-4 px-3 customTextArea"
          style=""
        />
      </div>
      <div class="w-full sm:flex hidden justify-center items-center text-center">
        <el-checkbox v-model="checked" class="mb-8">No deseo compartir mis datos personales o información para ningún fin.</el-checkbox>
      </div>
      <div class="w-full sm:hidden flex justify-center items-center text-center">
        <el-checkbox v-model="checked" class="mb-8 whitespace-normal" style="display: flex !important;">No deseo compartir mis datos<br/>personales o información para<br/>ningún fin.</el-checkbox>
      </div>
      <div class="w-full super-center">
        <button
          :class="sending ? 'bg-white text-main-green border-2 border-main-green' : 'bg-main-green text-white'"
          class="sm:px-12 px-10 font-bold rounded-lg text-xl z-10 super-center"
          style="width: 200px; height: 60px;"
          type="submit"
        >
          {{ sending ? 'Enviando...' : 'Enviar'}}
        </button>
      </div>
    </form>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  props: {
    services: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      form: {
        name: '',
        email: '',
        phone: '',
        interests: '',
        message: ''
      },
      checked: false,
      realServices: [],
      sending: false
    }
  },
  computed: {
    ...mapState({
      serviceContact: 'serviceContact',
    })
  },
  watch: {
    serviceContact() {
      // console.log(this.serviceContact)
      this.form.interests = this.serviceContact
    }
  },
  mounted() {
    this.realServices = this.services.slider
  },
  methods: {
    async save() {
      if (!this.sending) {
        if (this.validate()) {
          if (!this.checked) {
            this.$message({
              message: 'Falta que indiques que no quieres compartir tu información personal.',
              type: 'warning'
            })
            return
          }
          this.sending = true
          // await this.$wait(5000)
          const resp = await this.$axios.$post('/site/form', this.form)
          // console.log("save -> resp", resp)
          this.$store.commit('SET_FROM_FORM', true)
          this.$router.push('/gracias')
        } else {
          this.$message({
            message: 'Complete todos los campos del formulario',
            type: 'warning'
          })
        }
      }
    },
    validate() {
      return !(
        this.form.name === '' ||
        this.form.email === '' ||
        this.form.phone === '' ||
        this.form.interests === '' ||
        this.form.message === ''
      )
    }
  }
}
</script>

<style lang="postcss">
.el-checkbox__label {
  font-size: 16px;
}
.el-checkbox__input.is-checked+.el-checkbox__label {
  color: #59BAB2 !important;
}
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background: #59BAB2 !important;
  border-color: #59BAB2 !important;
}
.el-checkbox__input.is-focus .el-checkbox__inner {
  border-color: #59BAB2 !important;
}
.customInput > input,
.customInput > .el-input > input {
  height: 60px !important;
  font-size: 16px !important;
  border: 1px solid #415595;
  border-radius: 12px;
  padding: 0px 18px;
  &:hover {
    border: 1px solid #415595;
  }
  &:focus {
    border: 1px solid #415595;
  }
}
.customTextArea > textarea {
  height: calc(120px + 24px) !important;
  font-size: 16px !important;
  border: 1px solid #415595;
  border-radius: 12px;
  padding: 18px 18px;
  &:hover {
    border: 1px solid #415595;
  }
  &:focus {
    border: 1px solid #415595;
  }
}
@media (max-width: 640px) {
  .customTextArea > textarea {
    height: calc(120px + 12px) !important;
  }
}
.el-select-dropdown {
  min-width: 320px !important;
}
.el-message {
  min-width: 300px !important;
  padding: 12px 15px 10px 20px !important;
}
.el-message--warning {
  background-color: white !important;
  /* background-color: #b7dce2 !important; */
  border-color: #59bab2 !important;
}
.el-message .el-icon-warning {
  margin-right: 15px !important;
  font-size: 30px !important;
  color: #59bab2 !important;
}
.el-message--warning .el-message__content {
  color: #59bab2 !important;
}
.el-message__content {
  line-height: 1.4 !important;
}
</style>