<template>
  <div v-if="loaded" class="w-full h-screen bg-white super-center flex-col relative sm:pt-24 pt-20 sm:pb-0 pb-4 sm:px-0 px-4">
    <Decoration1 class="sm:mt-40 mt-24" />
    <Decoration2 class="sm:mb-16 -mb-6" />
    <div class="text-main-blue sm:text-5xl text-3xl uppercase text-center font-bold mb-5" v-html="view[using].title" />
    <div class="text-main-gray font-bold sm:text-lg text-base sm:mb-12 mb-8 text-center sm:px-0 px-3" style="max-width: 400px;">
      {{ view[using].content }}
    </div>
    <div class="super-center sm:flex-row flex-col">
      <button
        v-if="view[using].btn1"
        class="bg-main-green text-white py-5 px-8 font-medium text-lg sm:mr-4 text-center sm:mb-0 mb-4"
        style="border-radius: 15px; width: 210px;"
        @click="actionBtn1()">
        {{ view[using].btn1 }}
      </button>
      <button
        v-if="view[using].btn2"
        class="bg-main-blue text-white py-5 px-8 font-medium text-lg sm:ml-4 text-center"
        style="border-radius: 15px; width: 210px;"
        @click="actionBtn2()">
        {{ view[using].btn2 }}
      </button>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import Decoration1 from '~/components/decoration/Decoration1'
import Decoration2 from '~/components/decoration/Decoration2'
export default {
  components: {
    Decoration1,
    Decoration2
  },
  computed: {
    ...mapState({
      fromDemo: 'fromDemo',
    })
  },
  data() {
    return {
      view: [
        {
          title: 'gracias por<br/>escribirnos',
          content: 'Nos comunicaremos contigo en la brevedad posible',
          btn1: 'Servicios',
          btn2: 'Personalizar CV'
        },
        {
          title: 'gracias por confiar<br/>en nosotros',
          content: 'Confirmaremos tu pago y te lo enviaremos a tu correo.',
          btn1: 'Volver al Inicio',
          btn2: ''
        }
      ],
      using: 0,
      loaded: false
    }
  },
  mounted() {
    if (this.fromDemo) {
      this.using = 1
    }
    this.loaded = true
  },
  methods: {
    async actionBtn1() {
      this.$router.push('/')
      if (this.using === 0) {
        await this.$wait(1000)
        this.$goTo('SectionServices')
      }
    },
    async actionBtn2() {
      this.$router.push('/')
      await this.$wait(1000)
      this.$goTo('SectionDoYourself')
    }
  }
}
</script>

<style>
</style>