<template>
  <div class="w-full super-center relative heighter-footer">
    <div
      class="sm:block hidden absolute h-full right-0 bg-main-blue"
      style="width: calc(50vw - 750px);"
    />
    <div class="w-full h-full flex flex-col justify-between bg-main-blue xl:px-16 px-8 sm:pt-0 pt-32 radius-footer" style="max-width: 1500px;">
      <div class="w-full flex justify-center items-end flex-grow">
        <div class="w-full flex sm:flex-no-wrap flex-wrap justify-around items-stretch px-10 pb-12">
          <div
            v-for="(item, i) in items"
            :key="i"
            :class="i !== items.length - 1 && 'sm:mb-0 mb-10'"
            class="sm:w-auto w-full"
          >
            <div class="uppercase text-main-skyblue font-bold text-xl mb-5">
              {{ item.title }}
            </div>
            <div v-if="i !== 2" class="flex items-center cursor-pointer" @click="i === 0 ? openEmail() : openNumber()">
              <img
                :src="item.icon"
                class="w-8"
                alt="icon">
              <p class="text-white pl-3">
                {{ item.content }}
              </p>
            </div>
            <div v-else class="flex items-center">
              <img
                v-for="(ico, ic) in item.icon"
                :key="ic"
                :src="ico"
                :class="ic !== item.icon.length && 'mr-5'"
                class="w-12 cursor-pointer"
                alt="red"
                @click="open(ic)">
            </div>
          </div>
        </div>
      </div>
      <div class="super-center text-white font-light h-20" style="border-top: 0.5px solid #59BAB2;">
        <p class="cursor-pointer" @click="openVonnz()">
          Powered by <span class="font-bold">vonnz</span>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  data() {
    return {
      items: [
        {
          title: 'ESCRÍBENOS',
          icon: '/mail.png',
          content: ''
        },
        {
          title: 'LLÁMANOS',
          icon: '/cellphone.png',
          content: ''
        },
        {
          title: 'SÍGUENOS',
          icon: ['/instagram.png', '/facebook.png', '/linkedin.png']
        }
      ]
    }
  },
  watch: {
    loadedInfoGeneral() {
      this.items[0].content = this.infoGeneral.email
      this.items[1].content = this.infoGeneral.phone
    }
  },
  computed: {
    ...mapState({
      loadedInfoGeneral: 'loadedInfoGeneral',
      infoGeneral: 'infoGeneral'
    })
  },
  methods: {
    open(ic) {
      if (ic === 0) {
        window.open(this.infoGeneral.instagram, '_blank')
      } else if ((ic === 1)) {
        window.open(this.infoGeneral.facebook, '_blank')
      } else {
        window.open(this.infoGeneral.linkedin, '_blank')
      }
    },
    openNumber() {
      if (window.innerWidth > 640) {
        window.open('https://web.whatsapp.com/send?phone=' + this.infoGeneral.phone, '_blank')
      } else {
        window.open('https://wa.me/=' + this.infoGeneral.phone, '_blank')
      }
    },
    openEmail() {
      window.open('mailto:' + this.infoGeneral.email, '_blank')
    },
    openVonnz() {
      window.open('https://www.instagram.com/vonnzestudio/', '_blank')
    }
  }
}
</script>

<style>
.heighter-footer {
  height: 340px;
}
.radius-footer {
  border-top-left-radius: 276px;
}
@media (max-width: 640px) {
  .heighter-footer {
    height: auto;
  }
  .radius-footer {
    border-top-left-radius: 180px;
  }
}
</style>