<template>
  <div class="w-full fixed top-0" style="z-index: 1000;">
    <div class="w-full absolute top-0">
      <div class="sm:h-24 h-20 super-center bg-white shadow-md relative z-50">
        <div class="w-full max-w-screen-xl h-full flex justify-between items-center sm:p-4 py-3 px-4">
          <img
            class="h-full cursor-pointer"
            :src="logo"
            alt="logo"
            @click="$route.path !== '/' ? $router.push('/') : goTop()"
          />
          <div class="w-full sm:flex hidden justify-end items-center text-main-gray font-semibold">
            <div
              v-for="(section, s) in sections"
              :key="s"
              :class="s !== sections.length - 1 && 'lg:mr-16 mr-12'"
              class="cursor-pointer hover:text-main-blue"
              @click="goToSection(section.id, s + 1)"
            >
              {{ section.label }}
            </div>
          </div>
          <div class="sm:hidden flex justify-center items-center h-full" @click="offcanvas = true">
            <img src="/menu.svg" class="w-8" alt="menu-icon" />
          </div>
          <!-- <div
            class="flex items-center justify-center cursor-pointer"
            style="height: 60px; width: 60px; z-index: 999"
            @click="hideShowNB()">
            <div class="w-6 sm:w-8 flex flex-col items-start justify-center">
              <div
                class="bg-black w-6 sm:w-8 rounded-lg"
                style="transition: 0.4s; height: 4px"/>
              <div
                :class="$store.state.navbar.isCollapse ? 'w-6 sm:w-8' : 'w-6'"
                class="bg-black rounded-lg"
                style="transition: 0.4s; height: 4px; margin: 6px 0;"/>
              <div
                class="bg-black w-6 sm:w-8 rounded-lg"
                style="transition: 0.4s; height: 4px"/>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <transition name="fade" mode="out-in">
      <div v-if="offcanvas" class="absolute h-screen w-full" style="background: #00000088; z-index: 2999;" @click="offcanvas = false" />
    </transition>
    <transition name="offcanvas" mode="out-in">
      <div v-if="offcanvas" class="w-full bg-main-blue h-screen absolute right-0 flex flex-col" style="z-index: 3000; max-width: 300px; border-radius: 0 0 0 180px;">
        <div class="flex flex items-center justify-end h-20 py-3 px-4" @click="offcanvas = false">
          <img src="/menu2.svg" class="w-8" alt="menu-icon" />
        </div>
        <div class="flex flex-col pr-6" style="padding-left: 56px;">
          <div
            v-for="(section, s) in [{label: 'Inicio', id: 'SectionPortrait'}].concat(sections)"
            :key="s"
            :class="`${s !== sections.length ? 'border-b border-main-green' : ''} ${s !== 0 ? 'pt-3' : ''}`"
            class="w-full text-white font-bold uppercase text-lg pb-3 flex pr-12"
            @click="goToSection(section.id, s,true)"
          >
            <div class="relative super-center">
              <div v-if="actualSection === s" class="bg-main-rose w-5 h-2 absolute -ml-8 left-0" style="" />
              {{ section.label }}
            </div>
          </div>
        </div>
        <div class="w-full flex flex-col flex-grow justify-end items-end pb-4 pr-6" style="padding-left: 56px;">
          <div class="w-full flex justify-end items-end">
            <div class="w-full flex sm:flex-no-wrap flex-wrap justify-around items-stretch pb-10">
              <div
                v-for="(item, i) in items"
                :key="i"
                :class="i !== items.length - 1 && 'mb-5'"
                class="sm:w-auto w-full"
              >
                <div v-if="i === 2" class="uppercase text-white font-bold text-base mb-2">
                  {{ item.title }}
                </div>
                <div v-if="i !== 2" class="flex items-center" @click="i === 0 ? openEmail() : openNumber()">
                  <img
                    :src="item.icon"
                    class="w-5"
                    alt="icon"
                  />
                  <p class="text-sm text-white pl-3">
                    {{ item.content }}
                  </p>
                </div>
                <div v-else class="flex items-center">
                  <img
                    v-for="(ico, ic) in item.icon"
                    :key="ic"
                    :src="ico"
                    :class="ic !== item.icon.length && 'mr-3'"
                    class="w-8"
                    alt="red"
                    @click="open(ic)"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="w-4/5 flex justify-end items-center text-white font-light py-4 text-sm" style="border-top: 0.5px solid #59BAB2;" @click="openVonnz()">
            Powered by <b class="ml-2">vonnz</b>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  data() {
    return {
      actualSection: 0,
      active: 0,
      offcanvas: false,
      logo: '/logo.png',
      items: [
        {
          title: 'ESCRÍBENOS',
          icon: '/mail.png',
          content: 'info@pasatucv.com'
        },
        {
          title: 'LLÁMANOS',
          icon: '/cellphone.png',
          content: '941453656'
        },
        {
          title: 'SÍGUENOS',
          icon: ['/instagram.png', '/facebook.png', '/linkedin.png']
        }
      ]
      // scrollX: 0,
      // hx: 0
    }
  },
  watch: {
    loadedInfoGeneral() {
      this.logo = this.$getApiImage() + this.infoGeneral.logo
    }
  },
  computed: {
    ...mapState({
      sections: state => state.navbar.sections,
      infoGeneral: 'infoGeneral',
      loadedInfoGeneral: 'loadedInfoGeneral'
    })
  },
  async mounted() {
    await this.$nextTick()
    document.removeEventListener('scroll', this.scrollListener, false)
    this.scrollListener()
    document.addEventListener('scroll', this.scrollListener, false)
  },
  methods: {
    scrollListener() {
      this.scrollX = window.scrollY
      this.hx = window.innerHeight
      // console.log("scrollListener -> window.scrollY", window.scrollY)
      if (window.scrollY > (0.8 * window.innerHeight)) {
        this.active = 2
      } else if (window.scrollY > (0.5 * window.innerHeight) && window.scrollY <= (0.8 * window.innerHeight) && this.active === 2) {
        this.active = 1
      } else if (window.scrollY <= (0.5 * window.innerHeight)) {
        this.active = 0
      }
    },
    hideShowNB() {
      if(this.$store.state.navbar.isCollapse) {
        this.$store.commit('navbar/SET_COLLAPSE', false)
      }else {
        this.$store.commit('navbar/SET_COLLAPSE', true)
      }
    },
    async goToSection(id, s, flag = false) {
      // console.log("goToSection -> id", id)
      if (this.$route.path !== '/') {
        this.$router.push('/')
        await this.$wait(1000)
      }
      if (flag) {
        this.actualSection = s
      }
      this.offcanvas = false
      this.$goTo(id)
    },
    goTop() {
      this.actualSection = 0
      this.$goTo('SectionPortrait')
    },
    open(ic) {
      if (ic === 0) {
        window.open(this.infoGeneral.instagram, '_blank')
      } else if ((ic === 1)) {
        window.open(this.infoGeneral.facebook, '_blank')
      } else {
        window.open(this.infoGeneral.linkedin, '_blank')
      }
    },
    openNumber() {
      if (window.innerWidth > 640) {
        window.open('https://web.whatsapp.com/send?phone=' + this.infoGeneral.phone, '_blank')
      } else {
        window.open('https://wa.me/=' + this.infoGeneral.phone, '_blank')
      }
    },
    openEmail() {
      window.open('mailto:' + this.infoGeneral.email, '_blank')
    },
    openVonnz() {
      window.open('https://www.instagram.com/vonnzestudio/', '_blank')
    }
  }
}
</script>

<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}
.center {
  text-align: center;
  vertical-align: middle !important;
}
.offcanvas-enter-active {
  transition: transform 0.5s;
  opacity: 1;
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
  transform: translate(0);
}
.offcanvas-leave-active {
  transition: transform 0.5s;
  opacity: 1;
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
  transform: translate(0);
}
.offcanvas-enter {
  -webkit-transform: translate(100%);
  -moz-transform: translate(100%);
  -ms-transform: translate(100%);
  -o-transform: translate(100%);
  transform: translate(100%);
  opacity: 0.8;
}
.offcanvas-leave-to {
  -webkit-transform: translate(100%);
  -moz-transform: translate(100%);
  -ms-transform: translate(100%);
  -o-transform: translate(100%);
  transform: translate(100%);
  opacity: 0.8;
}
</style>
